
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2>Consultas</h2>

    <h3>1. Consultar el monto de venta</h3>
    @Html.ActionLink("Montoventa1", "Montoventa1", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>
    <h3>2. Consultar saldos iniciales</h3>
    @Html.ActionLink("SaldoInicial2", "SaldoInicial2", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>
    <h3>3. Consultar Información de empleados que registraron el saldo final mensual</h3>
    @Html.ActionLink("InformacionEmpleado3", "InformacionEmpleado3", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>
    <h3>4. Mostrar el Identificador de hoja de registro</h3>
    @Html.ActionLink("EmpleadoHojadeRegistro4", "EmpleadoHojadeRegistro4", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>
    <h3>5. Consultar las Entradas y Salidas de Productos</h3>
    @Html.ActionLink("RetiroyEntradas5", "RetiroyEntradas5", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>
    <h3>6. Consultar el turno de cada empleado</h3>
    @Html.ActionLink("TurnoEmpleado6", "TurnoEmpleado6", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>

    <h3>7. Consultar el saldo inicial de cada mes</h3>
    @Html.ActionLink("SaldoInicialAño7", "SaldoInicialAño7", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>


    <h3>8. Consultar los productos ingresados por empleado</h3>
    @Html.ActionLink("ConsultaEmpleado8", "ConsultaEmpleado8", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>

    <br>

    <h3>9. Consultar el estado de los productos</h3>
    @Html.ActionLink("ConsultaGanancia9", "ConsultaGanancia9", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>

    <h3>10. Consultar sueldo de cada empleado</h3>
    @Html.ActionLink("ConsultaEmpleadoSueldo10", "ConsultaEmpleadoSueldo10", "Consulta", null, new { @class = "btn btn-primary btn-lg" })<br>
    <br>

</div>
